body {
	font-family: Karla;
	font-weight: bold;
	}
	article {
	margin: 10px;
	padding: 140px;
	border: solid 5px grey;
	background: url("http://ocdn.eu/images/pulscms/Mjk7MDQsMCwyNSwzZTgsMjMyOzA2LDMyMCwxYzI_/d60b03228faf4c22d06cb11902984bd5.jpg") center center no-repeat;
	margin: 100px 0 0 20px;
	margin-top: 2px;
	padding: 140px;
	width: 50%;

}
#green-article {
	color: white;
}
.centered-text {
	text-align: center;
	}
	html {
	box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
		font: 60px/120% Arial, serif;
	}
#green-article {
	font: 60px/120% Arial, serif;
}
